{% load staticfiles %}

<head>
    <script src="{% static 'lists/jquery-1.12.3.min.js' %}"></script>
</head>

<a href="{% url 'lists:index' %}">Home</a>
<h1>{{ lister }}</h1>

{% if items %}
    <ul style="list-style:none;">
    {% for item in items %}
        <li style="line-height:1em;"><form style="display:inline-block" action="{% url 'lists:vote' list_id=list_id item_id=item.id action='up' %}" method="post">{% csrf_token %}<input type=submit value="+"/></form><form style="display:inline-block" action="{% url 'lists:vote' list_id=list_id item_id=item.id action='down' %}" method="post">{% csrf_token %}<input type=submit value="-"/></form><form style="display:inline-block" action="{% url 'lists:vote' list_id=list_id item_id=item.id action='delete' %}" method="post">{% csrf_token %}<input type=submit value="x"/></form> {{ item.votes }} {{ item.item_text }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No items are available.</p>
{% endif %}

<form action="{% url 'lists:lister' list_id %}" method="post">
{% csrf_token %}
<input type="text" name="add" id="add" value="" />
<input type="submit" value="Add" />
</form>

<div id="random" style="cursor:pointer;float:left;">Random</div><div id="selected" style="float:left;"></div></br>
<a href="{% url 'api:random' list_id=list_id option='tie' %}">Tie breaker</a>

<script type="text/javascript">
  $(document).ready(function(){
    $("#random").click(function(){
      $.get("{% url 'api:random' list_id=list_id %}", function(data){
        $("#selected").html("-" + data);
      });
    });
  });
</script>
