<div class="col-lg-6">
    <div class="list-group">
        {% if lists %}
            {% for list in lists %}
                <div class="list-group-item hyperdiv" onclick="hyperdiv({{ list.id }})">
                    {{ list.list_name }}<small>{% if not mine %} - {{ list.user.username }}{% endif %}</small>
                    {% if mine %}
                    <button class="close" onclick="deleteList({{ list.id }})" type=submit>&times;</button>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
<!-- /.col-sm-4 -->
<div class="col-lg-3 col-md-6"></div>
<div class="col-lg-3 col-md-6">
    <div class="panel panel-primary">
            <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-list fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">{{ lists|length }}</div>
                    <div>Lists</div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(".close").click(function(e){
  e.stopPropagation();
});
</script>
