<div class="col-lg-12">
    <div class="list-group">
        {% if lists %}
            {% for list in lists %}
                <div class="list-group-item hyperdiv" onclick="hyperdiv({{ list.id }})">
                    <div>{{ list.list_name }}<small>{% if not mine %} - {{ list.user.username }}{% endif %}</small></div>
                    {% if mine %}
                    <button class="close" onclick="deleteList({{ list.id }})" type=submit>&times;</button>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-info alert-dissmissable">
                <strong>There are no lists!</strong> Create a list using the form on the right side of this page (bottom for mobile)!
            </div>
        {% endif %}
    </div>
</div>
<!-- /.col-sm-4 -->

<script type="text/javascript">
$(".close").click(function(e){
  e.stopPropagation();
});
</script>
