{% load list_extras %}

<div class="col-lg-12">
    <div id="sortList" class="list-group">
        {% if items %}
            {% for item in items %}
                <div class="list-group-item">
                    <button class="close edit" onclick="update({{ item.id }}, 'delete')" type=submit>&times;</button>
                    {% if not voted %}
                        {% if not sortable %}
                        <button class="btn btn-xs btn-primary fa fa-arrow-up vote up-vote" onclick="update({{ item.id }}, 'up')" type=submit></button>
                        {% endif %}
                    {% else %}
                        {% if item.item_text == voted %}
                            <button class="btn btn-xs btn-danger fa fa-arrow-down vote down-vote" onclick="update({{ item.id }}, 'down')" type=submit></button>
                        {% endif %}
                    {% endif %}
                    <span title="{{ item.users.all|usernames }}"> {{ item.votes }} {{ item.item_text }}</span>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    {% if not sortable %}
    <div class="row">
        <div class="col-md-6 form-group">
            <button class="btn btn-xs btn-primary" id="random">Random</button>
            {% if items.0.votes == items.1.votes %}
                <button class="btn btn-xs btn-primary" id="tie-breaker">Tie Breaker</button>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>
<!-- /.col-sm-4 -->

<script type="text/javascript">

if($("#toggle-edit").html() == "Stop Editing"){
  $(".edit").show();
}

{% if sortable and mine %}
Sortable.create(sortList, {
  animation: 150,
  onEnd: function (/**Event*/evt) {
    var url = "{% url 'lists:sort' list_id=list_id old_index=99999 new_index=99998 %}";

    url = url.replace('99999', evt.oldIndex);
    url = url.replace('99998', evt.newIndex);

    $.post(url, function(){});
  },
});

{% else %}

var randomText = "Random: ";

$("#random").click(function(){
  $("#selected").html("Loading...");
  $.get("{% url 'api:random' list_id=list_id %}", function(data){
    $("#selected").html(randomText + data);
  });
});

$("#tie-breaker").click(function(){
  $("#selected").html("Loading...");
  $.get("{% url 'api:random' list_id=list_id option='tie' %}", function(data){
    $("#selected").html(randomText + data);
  });
});
{% endif %}
</script>
