{% load staticfiles %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'lists/style.css' %}" />
</head>

<body>
    {% if user.is_authenticated %}
    Welcome {{ user.get_username }}!
    {% else %}
    <form action="{% url 'lists:index' %}" method="post">
        {% csrf_token %}
        <input type="text" name="user" id="user" value="" placeholder="Username" /><br>
        <input type="password" name="pass" id="pass" value="" placeholder="Password" /><br>
        <input type="submit" value="Login" />
    </form>
    {% endif %}

    <h1>Public Lists</h1>

    {% if lists %}
        <ul style="list-style:none;">
        {% for list in lists %}
            <a href="{% url 'lists:lister' list.id %}">{{ list.list_name }}</a><br>
        {% endfor %}
        </ul>
    {% else %}
        <p>No lists are available.</p>
    {% endif %}
</body>
