{% extends 'lists/base.html' %}

{% block title %}Lister{% endblock %}

{% block startscript %}
function deleteList(id){
  var url = "{% url 'lists:delete' list_id=12345 %}";

  url = url.replace('12345', id);

  $.post(url, function(){});
}

function hyperdiv(id){
  var url = "{% url 'lists:lister' list_id=12345 %}";

  url = url.replace('12345', id);

  window.location.href = url;
}

{% endblock %}

{% block content %}
<div class="page-header">
    {% if not mine %}
    <h1>Public Lists</h1>
    {% else %}
    <h1>Your Lists</h1>
    {% endif %}
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="list-group">
            {% if lists %}
                {% for list in lists %}
                    <div class="list-group-item hyperdiv" onclick="hyperdiv({{ list.id }})">
                        {{ list.list_name }}<small>{% if not mine %} - {{ list.user.username }}{% endif %}</small>
                        <button class="close" onclick="deleteList({{ list.id }})" type=submit>&times;</button>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <!-- /.col-sm-4 -->
    <div class="col-lg-3 col-md-6"></div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-list fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ lists|length }}</div>
                        <div>Lists</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <form role="form" action="{% url 'lists:create' %}" method="post">
            <div class="form-group">
                <b>New List:</b>
                {% csrf_token %}
                {{ list_form }}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-sm btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block endscript %}
$(".close").click(function(e){
  e.stopPropagation();
});
{% endblock %}
