{% load staticfiles %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'lists/style.css' %}" />
</head>

<body>
    {% if user.is_authenticated %}
    Welcome {{ user.get_username }}! <a href='{% url 'lists:logout' %}'>Logout</a>

    <h1>Your Lists</h1>
    {% else %}
    <form action="{% url 'lists:login' %}" method="post">
        <b>Login:</b>
        {% csrf_token %}
        {{ login_form }}
        <input type="submit" value="Login" />
        <a href="{% url 'lists:register' %}">Register</a>
    </form>

    <h2>Public Lists</h2>
    {% endif %}

    {% if lists %}
        <ul style="list-style:none;">
        {% for list in lists %}
            <a href="{% url 'lists:lister' list.id %}">{{ list.list_name }}</a>{% if not user.is_authenticated %} - {{ list.user.username }}{% endif %}<br>
        {% endfor %}
        </ul>
    {% else %}
        <p>No lists are available.</p>
    {% endif %}

    <form action="{% url 'lists:create' %}" method="post" style="padding-top:3em;">
        <b>Create a List:</b>
        {% csrf_token %}
        {{ list_form }}
        <input type="submit" value="Add" />
    </form>
</body>
