{% if items %}
    <ul>
    {% for item in items %}
        <li>{{ item.votes }} {{ item.list_text }} <form style="display:inline-block" action="{% url 'lists:vote' item.id %}" method="post">{% csrf_token %}<input type=submit value="+"/></form></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No items are available.</p>
{% endif %}

<form action="{% url 'lists:index' %}" method="post">
{% csrf_token %}
<input type="text" name="add" id="add" value="" />
<input type="submit" value="Add" />
</form>
