{% load staticfiles %}

<head>
</head>

{% if items %}
    <ul style="list-style:none;">
    {% for item in items %}
        <li style="line-height:1em;"><form style="display:inline-block" action="{% url 'lists:vote' item_id=item.id action='up' %}" method="post">{% csrf_token %}<input type=submit value="+"/></form><form style="display:inline-block" action="{% url 'lists:vote' item_id=item.id action='down' %}" method="post">{% csrf_token %}<input type=submit value="-"/></form><form style="display:inline-block" action="{% url 'lists:vote' item_id=item.id action='delete' %}" method="post">{% csrf_token %}<input type=submit value="x"/></form> {{ item.votes }} {{ item.item_text }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No items are available.</p>
{% endif %}

<form action="{% url 'lists:index' %}" method="post">
{% csrf_token %}
<input type="text" name="add" id="add" value="" />
<input type="submit" value="Add" />
</form>
